@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply font-jakartasans;
  }
  body{
    @apply bg-gray-100;
  }
  
  @font-face{
    font-family: 'Inter';
    src: local('Inter'), url("/font/Inter-SemiBold.otf") format('otf');
  }

  @font-face {
    font-family: 'PlusJakarta';
    font-style: normal;
    font-weight: 300;
    src: url("/font/PlusJakartaSans-Light.woff2") format('woff2');
  }

  @font-face {
    font-family: 'PlusJakarta';
    font-style: normal;
    font-weight: 400;
    src: url("/font/PlusJakartaSans-Medium.woff2") format('woff2');
  }

  @font-face {
    font-family: 'PlusJakarta';
    font-style: normal;
    font-weight: 500;
    src: url("/font/PlusJakartaSans-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: 'PlusJakarta';
    font-style: normal;
    font-weight: 600;
    src: url("/font/PlusJakartaSans-SemiBold.woff2") format('woff2');
  }

  @font-face {
    font-family: 'PlusJakarta';
    font-style: normal;
    font-weight: 700;
    src: url("/font/PlusJakartaSans-Bold.woff2") format('woff2');
  }
  
  @font-face {
    font-family: 'PlusJakarta';
    font-style: normal;
    font-weight: 800;
    src: url("/font/PlusJakartaSans-ExtraBold.woff2") format('woff2');
  }
}


.marquee-content{
  animation: mymove 7s linear infinite;
}
#bg-gradient{
  opacity: 1;
  animation: fade 7s linear infinite;
}
@keyframes fade {
  0%{opacity:0}
  50%{opacity:1}
  100%{opactiy:0}
}
@keyframes mymove {
  0% {transform: translateX(-140vw); left:0;}
  20% {transform: translateX(-30vw);}
  35%{transform: translateX(-60vw)}
  50%{transform: translateX(-30vw)}
  60%{transform: translateX(-35vw)}
  70%{transform: translateX(-30vw)}
  85% {transform: translateX(-32vw)}  
  100%{transform: translateX(-30vw);}
}

.swiper-wrapper{
  display: flex;
  padding: 20px 0px;
  z-index: 0;
}
/* .executive .swiper-wrapper{
  display: flex;
  padding: 0px;
  z-index:0;
} */
.swiper-pagination{
  display: flex;
  z-index: 10;
  gap:2px;
  margin-left:28px;
}

.swiper-pagination-bullet-active {
  background-color: #E77E49 !important;
}

.swiper-pagination-bullet {
  background-color: #E77E49 !important;
}

@media only screen and (min-width: 280px) {
  .swiper-pagination-bullet {
    width:12px !important;
    height:12px !important;
  }
}

@media only screen and (min-width: 600px) {
  .swiper-pagination-bullet {
    width:16px !important;
    height:16px !important;
  }
}